.gallery-posts {
    margin-top: 10vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    width: 20%;
    margin: 0.5%;
    margin-bottom: 2%;
    align-self: baseline;
}

@media (max-width: 1100px) {

    .item {
        width: 40%;
        margin-bottom: 5%;
    }
}

@media (max-width: 600px) {

    .item {
        width: 90%;
    }
}