<div class="pdp-profile-wrapper" *ngIf="user">

  <div class="pdp-profile-half"> 
    <img src={{user.avatar?.url}}>
  </div>
  <div class="pdp-profile-half" style="text-align:left;">
      <h3>Nombre</h3>
      <label>{{user.fullName}}</label>
      <h3>Email</h3>
      <label>{{user.email}}</label>
  </div>

  <div style="float:left;width:100%;">
      <button (click)="createPost()">Crear Post</button>
      <button (click)="edit()" class="pdp-ok">Editar</button>
  </div>
</div>

<div *ngIf="!user" style="margin-top:15%">
  <p>El usuario no existe</p>
</div>
