.pdp-profile-wrapper {
    width: 60%;
    display: inline-block;
    background-color: white;
    padding: 2%;
    margin-top:15%;
    border-radius: 20px 0 20px 20px;
}

.pdp-profile-half {
    width: 50%;
    float: left;
}

.pdp-avatar {
    border-radius: 10%;
    padding: 2%;
    background-color: black;
}

img {
    border-radius: 10%;
}

label {
    margin-left: 0;
}

button {
    margin: 1%;
}


@media (max-width: 1100px) {
    .pdp-profile-wrapper {
        width: 75%;
    }
}

@media (max-width: 650px) {
    .pdp-profile-wrapper {
        width: 90%;
    }
}
