.pdp-post-wrapper {
    width: 60%;
    // max-width: 60vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: auto;
    margin-left: 20%;
    margin-top: 20vh;
}

.item {
    align-self: auto;
    justify-content: space-evenly;
    flex-direction: column;
    flex-basis: auto;
    
}


.pdp-post-wrapper:hover { 
    transform: none;
}

#author:hover {
    transform: scale(1.1);
    cursor:pointer;
}

@media (max-width: 1100px) {

    .pdp-post-wrapper {
        width: 80%;
    }

    .pdp-profile-half {
        width: 100%;
    }
}

@media (max-width: 650px) {  
}

