.pdp-post-wrapper {
    width: 70%;
    display: inline-block;
    border-radius: 20px 0 20px 20px;
    padding: 1%;
    background-color: white;
}

.pdp-profile-half {
    width: 50%;
    // display: inline-block;
    float: left;
}