<article class="pdp-post-wrapper" *ngIf="post" >
  <section class="content">
    <div class="item">
      <h2>{{post.title}}</h2>
      <h5>{{post.description}}</h5>
      <img src={{post.picture?.url}} (contextmenu)="onClick($event)">
    </div>
    
    <div class="item" id="author" (click)="viewProfile()">
      <h2>Autor</h2>
      <h4> {{ post.author.fullName }} </h4>
      <h4> {{ post.author.email }} </h4>
      <h3> Precio: {{ post.price }} €</h3>
    </div>
  </section>
  <button *ngIf="!isOwner() && !isBuyed" (click)="addToCart()" class="pdp-ok">Añadir al carrito</button>
  <button *ngIf="isOwner() || isBuyed" (click)="download()" class="pdp-ok">Descargar</button>
</article>

<div *ngIf="!post" style="margin-top:15%">
  <p>El post no existe</p>
</div>
