.pdp-post-wrapper {
    width: 60%;
    height: auto;
}

.pdp-post-wrapper:hover { 
    transform: none;
}

.pdp-profile-half {
    width: 48%;
    float: left;
}

.pdp-author-info:hover {
    transform: scale(1.1);
    cursor:pointer;
}

img {
    max-width: 90%;
}

@media (max-width: 1100px) {

    .pdp-post-wrapper {
        width: 80%;
    }

    .pdp-profile-half {
        width: 100%;
    }
}

@media (max-width: 650px) {

    
}

