<div class="pdp-form-wrapper">
  <h1>Nuevo Post</h1>

  <form #f="ngForm">

    <label for="title">Título</label>
    <input type="text" name= "title" required [(ngModel)]="valTitle" #title= "ngModel">
    <div class="pdp-invalid-field" *ngIf="title.invalid && (title.dirty || title.touched)">
      <p *ngIf="valTitle">Título inválido</p>
      <p *ngIf="!valTitle">El título no puede ir vacío</p>
    </div>

    <label for="description">Descripción</label>
    <input id="description" name="description"  minlength="3" [(ngModel)]="valDescription" #description="ngModel">
    <div class="pdp-invalid-field" *ngIf="description.invalid && (description.dirty || description.touched)">
      <p *ngIf="valDescription">Descripción debe tener al menos 3 caracteres</p>
      <p *ngIf="!valDescription">Descripción no puede ir vacío</p>
    </div>
    <label for="price">Precio</label>
    <input type="number" name="price" required [(ngModel)]="valPrice" #price="ngModel">
    <div class="pdp-invalid-field" *ngIf="price.invalid && (price.dirty || price.touched)">
      <p *ngIf="valPrice">El post debe tener un precio</p>
      <p *ngIf="!valDescription">Precio no puede ir vacío</p>
    </div>

     <label for="picture">Fotografía</label>
     <input type="file" name="picture" id="picture" required (change)="valPicture=$event.target.files[0]">
     <div class="pdp-invalid-field" *ngIf="!valPicture">
       <p>La imagen no puede ir vacía</p>
     </div>

     <button (click)="createPost()" [disabled]="!f.valid || !valPicture">Crear</button>
  </form>
</div>