.pdp-form-wrapper {
    margin-top: 10%;
    width: 40%;
    padding: 2%;
    display: inline-block;
    background-color: white;
}

.pdp-invalid-field {
    width: 96%;
    padding: 2%;
    background-color: #F8D7DA;
}