
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<nav class="pdp-navbar">
    <a id="item" [routerLink]="['gallery']" *ngIf="user">Placa de Plata</a>
    <section class="links" id="item">
        <a *ngIf="!user" [routerLink]="['login']">Acceso</a>
        <a *ngIf="user" [routerLink]="['users', user._id, 'cart']">
            <img *ngIf="user" src="assets/cart-icon.svg">
        </a>
        <a *ngIf="user" [routerLink]="['profile', user._id]">
            <img *ngIf="user" src={{avatar}}>
            <!-- {{user.fullName || user.email}} -->
        </a>
        <a *ngIf="user" (click)="logout()">
            <img *ngIf="user" src="assets/door.svg">
        </a>
    </section>
</nav>
    
<router-outlet></router-outlet>
<footer>Placa de Plata &copy; 2019</footer>