<div class="pdp-form-wrapper">
    <form #f="ngForm" (ngSubmit)="register()">
        <label for="email">Email</label>
    
        <input id="email" name="email" required email [(ngModel)]="emailVal" #email="ngModel">
        <div class="pdp-invalid-field" *ngIf="email.invalid && (email.dirty || email.touched)">
            <p *ngIf="emailVal">Email inválido</p>
            <p *ngIf="!emailVal">Email no puede ir vacío</p>
        </div>
        
        <label for="Contraseña">Contraseña</label>
        <input type="password" id="password" name="password" required minlength="3" [(ngModel)]="passwordVal" #password="ngModel">
        <div class="pdp-invalid-field" *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="passwordVal">La contraseña debe contener al menos 3 caracteres</p>
            <p *ngIf="!passwordVal">Contraseña no puede ir vacía</p>
        </div>
        
        <label for="Confirmar contraseña">Confirmar contraseña</label>
        <input type="password" id="confPassword" name="confPassword" required minlength="3" [(ngModel)]="confPasswordVal" #confPassword="ngModel">
        <div class="pdp-invalid-field" *ngIf="passwordVal != confPasswordVal && (confPassword.dirty || confPassword.touched)">
            <p>La contraseña debe coincidir</p>
        </div>
        
        <p>¿Ya tienes cuenta?<a [routerLink]="['/login']"> Identifícate aquí </a></p>
        <button type="submit" [disabled]="!f.valid">Regístrate</button>
    </form>
</div>

