<div class= "pdp-message-wrapper">
  <p *ngIf="activating && !invalidToken">Activando usuario</p>

  <div *ngIf="!activating && invalidToken && !sentNewLink">

    <p>
      Link de activación inválido. Para crear una nueva cuenta pulse <a [routerLink]="['/register']" >aquí</a> 
    </p>
    <br>
    <p>
      Para generar un nuevo link de activación, pulse <a (click)="refreshLink()">aquí</a>
    </p>
  </div>

  <p *ngIf="!activating && invalidToken && sentNewLink">
    Link nuevo enviado, compruebe su email
  </p>

</div> 
