html, body {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

body {
    background: url('./assets/colores.jpg') no-repeat center fixed;
    background-size: cover;
}

label {
    display: block;
    margin: 20px;
    margin-bottom: 10px 
}

input {
    width: 96%;
    border-radius: 5px;
    outline: none;
    padding: 2%;
}

button {
    padding: 1%;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

button.pdp-ok {
    background-color: #D4EDDA;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button:hover:disabled {
    cursor: not-allowed;
}

button:disabled {
    background-color: #B8BABC;
}

.pdp-form-wrapper {
    margin-top: 10%;
    width: 50%;
    padding: 2%;
    display: inline-block;
    background-color: white;
    border-radius: 20px 0 20px 20px;
}

.pdp-invalid-field {
    width: 96%;
    padding: 2%;
    background-color: #F8D7DA;
    border: solid 2px #8E444B;
    border-radius: 5px;
}

.pdp-post-wrapper {
    width: 20%;
    height: 300px;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 20px 0 20px 20px;
}

.pdp-post-wrapper:hover {
    transform: scale(1.1);
}


@media (max-width: 1100px) {
    .pdp-post-wrapper {
        width: 40%;
    }

    .pdp-form-wrapper {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .pdp-post-wrapper {
        width: 85%;
    }

    .pdp-form-wrapper {
        width: 90%;
    }
}